In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
import tensorflow as tf
from tensorflow.keras import layers
from matplotlib import pyplot as plt
from sklearn.ensemble import RandomForestClassifier

# The following lines adjust the granularity of reporting.
pd.options.display.max_rows = 10
pd.options.display.float_format = "{:.1f}".format
# tf.keras.backend.set_floatx('float32')

2024-03-01 11:18:33.592755: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-03-01 11:18:33.592927: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-03-01 11:18:33.765968: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

In [3]:
train_df = pd.read_csv("/kaggle/input/titanic/train.csv")
test_df = pd.read_csv("/kaggle/input/titanic/test.csv")
#train_df = train_df.reindex(np.random.permutation(train_df.index)) # shuffle the training set

#let's normalize the data first...
# z value 
# train_df_mean = train_df.mean()
# train_df_std = train_df.std()
# train_df_norm = (train_df -  train_df_mean)/train_df_std
# test_df_norm = (test_df - train_df_mean)/train_df_std

# train_df_norm.head()
#sur = train_df.loc[(train_df['Survived'] == 1)] 
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.7,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.7,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.3,NaN,S

In [4]:
#one hot-encoding for Column 'Sex' and 'Pclass'...
# train_df = pd.get_dummies(train_df, columns=['Sex','Pclass'])
#the DataFrame df will have all rows containing missing values removed.
#If there were any rows with NaN values in df, they would no longer be present.
# train_df.dropna(inplace = True)
# train_df.head()
y = train_df["Survived"]
features = ["Pclass", "Sex", "SibSp", "Parch"]
#one hot encoding of the features...
x = pd.get_dummies(train_df[features])
x_test = pd.get_dummies(test_df[features])
x_test.head()

#model...
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(x,y)
predictions_from_model = model.predict(x_test)
output = pd.DataFrame({'PassengerId': test_df.PassengerId, 'Survived': predictions_from_model})
output.to_csv('submission.csv',index=False)